# System files
Thumbs.db

# RStudio files
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Rbuildignore

# Scripts
scripts/anonymisation_dataset.R

# Dataset
dataset/

# Manuscripts
manuscript/

# Else
resources/
_Exchange_reviewers_editors/
README.html